		<div id="layout_footer"></div>
	</div><!-- #layout -->
	<div id="footer" class="row">
		<div class="copyright right">
			Copyleft
			<!--[if lte IE 8]><span style="filter: FlipH; -ms-filter: "FlipH"; display: inline-block;"><![endif]-->
			<span style="-moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); display: inline-block;">
				©
			</span>
			<!--[if lte IE 8]></span><![endif]-->
			Individualist Will. No rights reserved. 2015
		</div>
	</div>

	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/js/search.min.js"></script>
    <script src="/js/app.min.js"></script>

</body>
</html>